.form {
  font-family: Arial, Helvetica, sans-serif;
  width: 700px;
  background: radial-gradient(
      circle at 100% 50%,
      transparent 20%,
      rgba(255, 255, 255, 0.3) 21%,
      rgba(255, 255, 255, 0.3) 34%,
      transparent 35%,
      transparent
    ),
    radial-gradient(
        circle at 0% 50%,
        transparent 20%,
        rgba(255, 255, 255, 0.3) 21%,
        rgba(255, 255, 255, 0.3) 34%,
        transparent 35%,
        transparent
      )
      0 -50px;
  background-color: slategray;
  background-size: 75px 100px;
}

input::placeholder,
input[type="text"]
{
  font-size: 16px;
  font-family: 'Trebuchet MS', sans-serif;

}
