body {
  margin: 0;
  /* font-family: 'Georgia','Courier New', Courier, monospace; */
  font-family: 'Trebuchet MS', sans-serif;
  background: linear-gradient(to right, #544a7d,#ffd452);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}
